<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=INCHNILPDB02;Initial Catalog=CHN01M06GROUP1;User ID=m06group1;Password=m06group1;Integrated Security=false;User Instance=false"
      providerName="System.Data.SqlClient" />
    <add name="CHN01M06GROUP1ConnectionString" connectionString="Data Source=inchnilpdb02;Initial Catalog=CHN01M06GROUP1;User ID=m06group1;Password=m06group1"
      providerName="System.Data.SqlClient=" />
    <add name="CHN01M06GROUP1ConnectionString2" connectionString="Data Source=inchnilpdb02;Initial Catalog=CHN01M06GROUP1;User ID=m06group1;Password=m06group1"
      providerName="System.Data.SqlClient" />
   
      
    
  </connectionStrings>
  
</configuration>

